

h1 {
  font-size: 50px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}
Div{
  background-color:darkcyan;
  text-align:right ;
}

